{% if site.logo contains '://' %} 
  {% assign site_logo = site.logo %}
{% else %} 
  {% assign site_logo = site.logo | relative_url %} 
{% endif %}

<header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
  <div class="mdl-layout__header-row gambetech-logo-row">
    <span class="mdl-layout-title">
      <img class="gambetech-logo" src="{{ site_logo }}" alt="{{ page.title }}">
    </span>
    <div class="mdl-layout-spacer"></div>
    {% include search-form.html %}
  </div>
</header>