{% if site.search %}
<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
  <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
    <i class="material-icons">search</i>
  </label>
  <div class="mdl-textfield__expandable-holder">
    {%- assign search_provider = site.search_provider | default: "lunr" -%} 
    {%- case search_provider -%}
    {%- when "lunr" -%}
    <input type="text" id="search" class="mdl-textfield__input" tabindex="-1" placeholder="{{ site.data.theme.t.menu.search_placeholder_text | default: 'Search...' }}"/>
    <div id="results" class="results"></div>
    {%- when "algolia" -%}
    <div tabindex="-1" class="search-searchbar"></div>
    <div class="search-hits"></div>
    {%- endcase -%}
  </div>
</div>
{% endif %}