{% if cv.references %}
<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <div class="demo-card-wide mdl-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Références</h2>
        </div>
        {% for r in cv.references %}
          <div class="mdl-card__supporting-text">
            {% if r.reference %}
              <blockquote class="reference">
                {{ r.reference |markdownify }}
                {% if r.name %}
                  <p class="name">
                    <cite>{{ r.name }}</cite>
                  </p>
                {% endif %}
              </blockquote>
            {% endif %}
          </div>
        {% endfor %}
    </div>
  </div>  
</div>
{% endif %}