{% if cv.skills %}
<div class="mdl-card">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Skills</h2>
  </div>
  {% for s in cv.skills %}
    <div class="mdl-card__supporting-text">
        <h6 class="mdl-card__title-text">{{ s.name }}</h6>
    </div>
    <div class="mdl-card__supporting-text">
        level: <em>{{ s.level }}</em>
        <!-- MDL Progress Bar with Buffering -->
        <div id="p3" class="mdl-progress mdl-js-progress"></div>
        <script>
          document.querySelector('#p3').addEventListener('mdl-componentupgraded', function() {
            this.MaterialProgress.setProgress(70);
            this.MaterialProgress.setBuffer(20);
          });
        </script>
        {% if s.keywords %}
          <span class="keywords">{{ s.keywords | array_to_sentence_string }}</span>
        {% endif %}
    </div>
    <div class="mdl-card__actions"></div>
  {% endfor %}
</div>
{% endif %}